.nav-container {
    background-color: rgb(114, 141, 224);
    display: flex;
}

.title {
    margin-top: 3px;
    display: inline-flex;
}

@media (max-width: 480px) {
    .quickLinks {
        display: flex;
        margin-left: 2rem;
    }
}

@media (max-width: 680px) {
    .quickLinks {
        display: flex;
        margin-left: 20rem;
    }
}

@media (min-width: 680px) {
    .quickLinks {
        display: flex;
        margin-left: 25rem;
    }
}

@media (min-width: 880px) {
    .quickLinks {
        display: flex;
        margin-left: 30rem;
    }
}

@media (max-width: 1030px) {
    .quickLinks {
        display: flex;
        margin-left: 40rem;
    }
}

@media (min-width: 1030px) {
    .quickLinks {
        display: flex;
        margin-left: 50rem;
    }
}

.icon-div {
    margin: 0px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}